<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js" type="text/javascript" defer></script>
</head>
<body>
<div id="app">
    .
    <ul>
        <li v-for="item in sortFromPrice">
            <p>Name: {{item.name}}; <span>Price: {{item.price}}</span></p>
        </li>
    </ul>
    <input type="radio" name="sortBy" id="ascendingPrice" v-model="whySorted" value="ascending" checked>
    <label for="ascendingPrice">по-возрастанию</label>
    <input type="radio" name="sortBy" id="descendingPrice" v-model="whySorted" value="descending">
    <label for="descendingPrice">по-убыванию</label>
    <input type="radio" name="sortBy" id="SortByName" v-model="whySorted" value="byName">
    <label for="SortByName">сортировать по имени</label>
    <input type="radio" name="sortBy" id="notSorted" v-model="whySorted" value="notSorted">
    <label for="notSorted">не сортировать</label>
</div>
</body>
</html>